body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}
section {
  display: flex;
}

/*Typography*/

h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.intro-content {
  justify-content: center;
}

h1 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.3125rem;
}

h2 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
}

.top-text {
  justify-content: flex-start;
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

strong {
  font-weight: 900;
}
/*Intro*/

.intro {
  background-image: url(images/ribs.jpg);
  background-repeat: no-repeat;
  padding: 80em 0.25em 1 em;
  background-size: 100vh;
  width: 50vw;
  height: 100vh;
}
.intro-content {
  height: fit-content;
  margin-top: 30%;
}
.main-content {
  width: 50%;
  justify-content: center;
}
.intro-content h1 p {
  border: #f18119 solid 3px;
}
